<footer>
  <div class="footer-contain">
    <article>
      <h4>Email list sign up</h4>
      <p>What is the number one benefit of signing up you ask? Early access to event registration!</p>
      <p>[form]</p>
      <button>sign up</button>
    </article>
    <article>
      <h4>**</h4>
      <p>What is Sunday Salon? In case you’re unfamiliar, Sunday Salon is a monthly(-ish) gathering of designer-educator-researchers that takes place on the internet. It is a project of <a href="http://adjunct.studio/">Adjunct</a> and started in 2019.</p>
    </article>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="{{ "/assets/js/main.js" | relative_url }}" charset="utf-8"></script>
