<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <script src="https://kit.fontawesome.com/b818606af8.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/hamburger.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
</head>
